@model List<string>
@*
    Author: Valerie German
    Date: 10 Sept 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Webpage listing all departments.
*@
@{
}
<h2>Departments</h2>
@foreach (string dept in Model) {
    <p>@dept</p>
    <div class="card shadowBox">
        <div class="card-body" onclick="RedirectToDept('@dept');">
            <p><b>@dept</b></p>
        </div>
    </div>
    <br />
}