@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User)) {
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @UserManager.GetUserName(User)
            </a>
            <!-- Referenced https://stackoverflow.com/questions/42388989/bootstrap-4-center-vertical-and-horizontal-alignment for alignment classes. -->
            <div class="dropdown-menu justify-content-center" aria-labelledby="navbarDropdown">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Profile @if (User.IsInRole("Admin")) {<text>(Admin)</text>} 
                    else if (User.IsInRole("Chair")) {<text>(Chair)</text>}
                    else if (User.IsInRole("Instructor")) {<text>(Instructor)</text>}
                </a>
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Notifications">Notifications</a>
                <!--<div class="dropdown-divider"></div>
        <button class="btn btn-outline-success my-2 my-sm-0 align-self-center p-2" type="submit">Logout</button>-->
            </div>
        </div>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
                </form>
            </li>


        } else {
            <li class="nav-item">
                <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
