@model IEnumerable<CS4540PS2.Models.Departments>
@*
    Author: Valerie German
    Date: 19 Nov 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Webpage listing all departments - admin view
*@
@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>
<hr />
@foreach (Departments dept in Model) {
<div class="card shadowBox">
    <div class="card-body">
        <p><b>@dept.Code - @dept.Name</b></p>
    </div>
    <div align="right">
        <button class="btn btn-danger" onclick="DeleteDept(event, '@dept.Code')">Delete</button>
        <a asp-controller="DeptManager" asp-action="Edit" asp-route-code="@dept.Code">
            <button class="btn btn-primary">Modify</button>
        </a>
    </div>
</div>
    <br />
}
<br />
<br />
<a asp-controller="DeptManager" asp-action="Create">
    <button class="btn-primary">Create New Department</button>
</a>