@model IEnumerable<CS4540PS2.Models.DB.DBItemList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search All</h1>

@foreach (var item in Model) {
       
}

