@*
    Author: Valerie German
    Date: 10 Sept 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: This file contains sample homepage for PS3.
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Home - PS4</h3>
    <hr />
    <p>
        <b>Admin:</b>
        <a asp-controller="LearningOutcomes" asp-action="Index">Learning Outcomes</a>,
        <a asp-controller="Course" asp-action="Index">All Courses</a>,
        <a asp-controller="User" asp-action="Index">User roles page</a>
    </p>
    <p>
        <b>Instructor:</b>
        <a asp-controller="Instructor" asp-action="Index">Courses Overview</a>,
        <a asp-controller="Instructor" asp-action="Course" asp-route-Dept="CS" asp-route-Num="4540"
           asp-route-Sem="Fall" asp-route-Year="2019">CS 4540 (Professor Jim)</a>,
        <a asp-controller="Instructor" asp-action="Course" asp-route-Dept="CS" asp-route-Num="2100"
           asp-route-Sem="Fall" asp-route-Year="2019">CS 2100 (Professor Mary)</a>
    </p>
    <p>
        <b>Chair:</b>
        <a asp-controller="Department" asp-action="Department">Computer Science Department Overview</a>
    </p>
</div>
