@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Home - PS2</h3>
    <p>PS2 Sample Home Page</p>
    <p>Please see the <a asp-controller="Home" asp-action="Course">Course</a> and <a asp-controller="Home" asp-action="Overview">Overview</a> pages.</p>
</div>
