@*
    Author: Valerie German,
    Date: 4 Dec 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Overview/tutorial page
*@
@{
    ViewData["Title"] = "Overview";
}
<br />
<h2>Project Overview</h2>
<hr />
<div class="card card-body">
    <p>LOT 'o Learning expanded on the Learning Outcome Tracker project.</p>
    <p>This project started from as PS5 solution, below are the changes made. Click on any topic for details.</p>
</div>
<button class="btn btn-primary sectionButton text-left" type="button" data-toggle="collapse"
        data-target="#DatabaseOverview" aria-expanded="false"
        aria-controls="DatabaseOverview">
    Database Changes
</button>
<div class="collapse" id="DatabaseOverview">
    <div class="card card-body">
        <p>
            The database went through several changes. These included expansions for storing files, tables for notfications, messages, course
            statuses and better user management.
        </p>
        <p>
            The database initializer was also updated, including seeding files, including courses of different statuses, notifications and messages.
        </p>
    </div>
</div>
<br />
<br />
<button class="btn btn-primary sectionButton text-left" type="button" data-toggle="collapse"
        data-target="#SampleFileOverview" aria-expanded="false"
        aria-controls="SampleFileOverview">
    Departments, Courses, Sample Files
</button>
<div class="collapse" id="SampleFileOverview">
    <div class="card card-body">
        <p>
            <b>Departments</b>: Administrators can create, view, edit and delete Departments. Departments are a separate table in the database to allow better department
            management.
        </p>
        <p>
            <b>Courses</b>: Administrators are able to create, edit, view and delete courses. They are able to assign multiple instructors to each course. Administrators
            can also set the course status (see Notifications/Course History).
        </p>
        <p>
            <b>Sample Files</b>: Instructors are able to upload, download and remove Sample files for evaluation metrics. Department chairs are also able to download
            sample files.
        </p>
        <div class="imageContainer">
            <img class="sizeImage" src="~/overview/InstructorSampleFile.png" />
        </div>
    </div>
</div>
<br />
<br />
<button class="btn btn-primary sectionButton text-left" type="button" data-toggle="collapse"
        data-target="#AdminUser" aria-expanded="false"
        aria-controls="AdminUser">
    Users
</button>
<div class="collapse" id="AdminUser">
    <div class="card card-body">
        <p>Administrators can remove users.</p>
        <div class="imageContainer">
            <img class="sizeImage" src="~/overview/AdminUsers.png" />
        </div>
    </div>
</div>
<br />
<br />
<button class="btn btn-primary sectionButton text-left" type="button" data-toggle="collapse"
        data-target="#collapseContentNotif" aria-expanded="false"
        aria-controls="collapseContentNotif">
    Notifications/Course History
</button>
<div class="collapse" id="collapseContentNotif">
    <div class="card card-body">
        <p>
            Instructors and Chairs receive notifications on the status of a course. Courses may be created with any initial status by an administrator, and
            admins can modify the course status at any time. Department chairs may change a course to 'In-Review', 'Approved' or 'Archived'. Instructors may change
            a course to 'Awaiting Approval'.
        </p>
        <p>
            Courses with the archived status can be viewed by all department chairs and instructors and cannot be modified by any instructor. Instructors may view
            archived courses under 'Course History'.
        </p>
        <p>
            A notification is sent when a course status is changed. Notifications can be marked as read and deleted. Each notification contains a message and a link
            to the related course.
        </p>
        <p>Possible Course Statuses are:</p>
        <ul>
            <li><b><i>In-Progress</i></b>: Instructor is working on the course.</li>
            <li><b><i>Awaiting Approval</i></b>: Instructor has completed the course metrics and requested a department chair's approval.</li>
            <li>
                <b><i>In-Review</i></b>: Department chair didn't approve the instructor's work and requested changes. A department chair may send a message when changing
                to this status.
            </li>
            <li><b><i>Approved/Complete</i></b>: The department chair accepted the course.</li>
            <li><b><i>Archived</i></b>: The course is complete and can no longer be modified. Can now be viewed by all instructors.</li>
        </ul>
        <hr />
        <h4><b>Views and Details</b></h4>
        <p><b>Department Chairs</b></p>
        <figure class="figure border-bottom border-secondary">
            <div class="imageContainer">
                <img class="sizeImage" src="~/overview/ChairAwaitingCourse.png" />
            </div>
            <figcaption class="figure-caption text-center">
                <b>Department chair view</b> of course awaiting approval. Chairs may change the course status to 'In-Review',
                'Approved' or 'Archived' at any time.
            </figcaption>
        </figure>
        <figure class="figure border-bottom border-secondary">
            <div class="imageContainer">
                <img class="sizeImage" src="~/overview/ChairNotification.png" />
            </div>
            <figcaption class="figure-caption text-center">
                Department chair <b>notifications</b>
            </figcaption>
        </figure>
        <p><b>Instructors</b></p>
        <figure class="figure border-bottom border-secondary">
            <div class="imageContainer">
                <img class="sizeImage" src="~/overview/InstructorViewCourses.png" />
            </div>
            <figcaption class="figure-caption text-center">
                <b>Instructor view of courses</b>. By default all active (non-archived) courses are displayed, instructors may select a status to display those courses.
            </figcaption>
        </figure>
        <figure class="figure border-bottom border-secondary">
            <div class="imageContainer">
                <img class="sizeImage" src="~/overview/InstructorInProgressCourse.png" />
            </div>
            <figcaption class="figure-caption text-center">
                Instructor view of an <b>in-progress course</b>. Instructors may request a course be approved from this course page.
            </figcaption>
        </figure>
        <figure class="figure border-bottom border-secondary">
            <div class="imageContainer">
                <img class="sizeImage" src="~/overview/InstructorNotification.png" />
            </div>
            <figcaption class="figure-caption text-center">
                Instructor <b>notifications</b>. Notficiations may be marked as <b>read</b> (white), the <b>number of unread</b> notifications appears in the drop down menu. Note the chair
                sent a message when changing a course to in-review.
            </figcaption>
        </figure>
        <figure class="figure border-bottom border-secondary">
            <div class="imageContainer">
                <img class="sizeImage" src="~/overview/InstructorCourseHistory.png" />
            </div>
            <figcaption class="figure-caption text-center">
                Instructor view of <b>course history</b>. Instructors may view any archived courses.
            </figcaption>
        </figure>
        <figure class="figure border-bottom border-secondary">
            <div class="imageContainer">
                <img class="sizeImage" src="~/overview/InstructorArchivedCourse.png" />
            </div>
            <figcaption class="figure-caption text-center">
                Instructor view of an <b>archived course</b>. Archived courses cannot be modified.
            </figcaption>
        </figure>

    </div>
</div>
<br />
<br />
<button class="btn btn-primary sectionButton text-left" type="button" data-toggle="collapse"
        data-target="#Messaging" aria-expanded="false"
        aria-controls="Messaging">
    Messaging
</button>
<div class="collapse" id="Messaging">
    <div class="card card-body">
        <p>Users can message each other with real-time responses. This involved implementing SignalR and adding a Messages table to the DB.</p>
        <div class="imageContainer">
            <img class="sizeImage" src="~/overview/messaging1.png" />
        </div>
        <div class="imageContainer">
            <img class="sizeImage" src="~/overview/messaging2.png" />
        </div>
    </div>
</div>
<br />
<br />
<button class="btn btn-primary sectionButton text-left" type="button" data-toggle="collapse"
        data-target="#EMCrud" aria-expanded="false"
        aria-controls="EMCrud">
    Evaluation Metrics CRUD
</button>
<div class="collapse" id="EMCrud">
    <div class="card card-body">
        <p>Instructors can create new Evaluation metrics with their associated assignment files. This involved creating an EM table in the DB.</p>
        <div class="imageContainer">
            <img class="sizeImage" src="~/overview/createEvaluationMetric.png" />
        </div>
        <p>A view has been created where Instructors can delete the EM or download its file.</p>
        <div class="imageContainer">
            <img class="sizeImage" src="~/overview/EvaluationMetricView.png" />
        </div>
    </div>
</div>
<br />
<br />





<!-- Collapse code:
    <button class="btn btn-primary sectionButton text-left" type="button" data-toggle="collapse"
        data-target="#UniqueIdHere" aria-expanded="false"
        aria-controls="UniqueIdHere">
    Title
</button>
<div class="collapse" id="UniqueIdHere">
    <div class="card card-body">
        <p>Sample Interior</p>
    </div>
</div>
<br />
<br />
-->
