@*
    Sample webpage for a user's profile
*@
@{
    ViewData["Title"] = "User Profile";
}
<h3>UserName's Profile</h3>
<p>Sample webpage, this will show the user's permissions and user information...</p>
