@*
    Author: Valerie German
    Date: 4 Sept 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Sample webpage for courses.
*@
@{ 
    ViewData["Title"] = "Sample Course";
}
<h1>Sample Course Page</h1>
<h4>Sample Professor</h4>
<hr />
<p>
    This page is intended to show link from Department or the menu to a course. Links to <a asp-controller="Home" asp-action="Course">CS 4540</a> go to the course page (the page to be evaluated).
</p>
<p>
    Please see <a asp-controller="Home" asp-action="Course">CS 4540</a> for the sample course page to evaluate.
</p>